*{
    margin: 0;
    padding: 0;
  }
  
  a {
    color: white;
    text-decoration:none ;
    transition: 0.2;
  } 
  a:hover{
    opacity: 0.3;
  }
  .pin{
    font-size: 23px;
    text-transform:uppercase;
    letter-spacing: 4px;
  }
  nav{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-around;
    align-items:center ;
    background-color: rgb(41, 41, 41);
    height: 9vh;
  }
  main{
    background: url(../img/fundo.jpg) no-repeat center center;
    background-size: cover;
    height: 92vh;
  }
  .navbar{
    list-style: none;
    display: flex;
  }
  .navbar li{
    letter-spacing: 3px;
    margin-left: 30px;
  }
  .menuzinho div{
    width: 32px;
    height: 2px;
    background-color: aliceblue;
    margin: 8px;
  }
  .menuzinho{
    cursor: pointer;
    display: none;
  }
  .eu{
    display: flex;
    align-items: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
  }
  .eu li{
    list-style-type: none;
  }
  .princ{
    background-color: rgb(41, 41, 41);
    width: 500px;
    height: 200px;
    position: absolute;
    margin-top: 300px;
    margin-left: 250px;
    animation: go-back 1s;
  }
  .princ2{
    background-color: rgb(71, 70, 70);
    width: 500px;
    height: 100px;
    position: absolute;
    margin-top: 210px;
    margin-left: 250px;
    animation: go-back 1s;
  }
  .princ li{
    padding: 20px;
  }
  .princ2 li{
    padding: 5px;
  }
  .img{
    position: absolute;
    margin-top: -10px;
    margin-left: 500px;
  }
  
  @keyframes go-back {
    from {
      transform: translateX(1000px);
    }
    to {
      transform: translateX(0);
    }
  } 
  .a{
    display: flex;
    justify-content: space-around;
    align-items:center ;
  }
  